@import "mixins";
@import "../fonts/bebasneue.css";
$transition_time: 0.5s;
$canvas-width: 75%;

$white: #fff;
$violet: #9b59b6;
$green: #2ecc71;
$yellow: #f1c40f;
$red: #e74c3c;
$blue: #1976D2;
$black: #262626;
$color: $yellow;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
  margin-right:2px;
  width: 6px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

html,body{
  height: 100%;
  //background: #3c3c3c;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.enroll-button{
  text-decoration: none;
  clear: both;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.2em 2em;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #000;
  font-family: 'bebas_neue_regularregular', sans-serif;
  //нудно так что бы не было транзишн на border для перезаливки фона кнопки
  @include transition(color ease ($transition_time/2), background ease ($transition_time/2), top ease ($transition_time/2));
  &:after{
    z-index: -1;
    display: block;
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 200%;
    height: 100%;
    @include transition(color ease ($transition_time/2), background ease ($transition_time/2), top ease ($transition_time/2));
  }
  &:after:hover{
    @include transition(color ease ($transition_time/2), background ease ($transition_time/2), top ease ($transition_time/2));
  }
  &.fill-yellow{
    border: 2px solid $yellow;
    background: #fd0;
  }
  &.fill-black{
    background: #000;
    border: 2px solid #000;
  }
  &.color-yellow{
    color: $yellow;
  }
  &.color-black{
    color: #000;
  }
  &.color-white{
    color: $white;
  }
  //
  &.border-yellow{
    border: 2px solid $yellow;
  }
  &.border-black{
    border: 2px solid #000;
  }
  //hover
  &.black-hover{
    &:hover{
      border: 2px solid #000;
      color: $white;
      &:after{
        top: 0;
        background: #000;
      }
    }
  }
  &.yellow-hover{
    &:hover{
      border: 2px solid $yellow;
      color: #000;
      &:after{
        top: 0;
        background: $yellow;
      }
    }
  }

}
.enroll-form{

  text-align: center;
  .input-wrap{
    position: relative;
    label{
      position: absolute;
      top: 0.5em;
      left: 1.3em;
      color: #000;
      text-transform: uppercase;
      @include transition(all $transition_time ease);
    }
    &:not(.is-empty), &.has-focus{
      label{
        @include transition(all $transition_time ease);
        top:-1.2em;
        font-size: 0.9em;
      }
    }
    &.has-error{
      label{
        color: red;
        @include transition(all $transition_time ease);
        top:-1.2em;
        font-size: 0.9em;
      }
    }
  }

  input,textarea{
    display: block;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    padding: 0 0 0.1em 1em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    outline: none;
    width: 100%;
    max-width: 100%;
    color: #000;
    padding: 0.5em;
    //при автозаполнении поле покрашывается ненужным желтым
    color: #000;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    &:not([type="radio" ]){
      box-shadow: $color 0px 0px 0px 50px inset;
    }
  }
  input[type="radio"]{
    margin-left: 1em;
    width: 10% !important;
    display: inline-block !important;
  }
  ::-webkit-input-placeholder {  font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight:100; color:#000;}
  ::-moz-placeholder          {  font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight:100; color:#000;}/* Firefox 19+ */
  :-moz-placeholder           {  font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight:100; color:#000;}/* Firefox 18- */
  :-ms-input-placeholder      {  font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight:100; color:#000;}


  label{
    float: left;
    padding-bottom: 0.5em;
    color: #fff;
  }

}
.canvas-wrapper{
  float: left;
  height: 100%;
  width: $canvas-width;
}
.menu-wrapper{
  float: left;
  height: 100%;
  width: 100% - $canvas-width;
  //menu
  .menu{
    height: 100%;
    background: $color;
    color: #3c3c3c;
    padding: 1em 0.5em;
    text-align: center;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    ul{
      padding: 0;
      margin: 0;
      li{
        margin-bottom: 1.5em;
        cursor: pointer;
        display: inline-block;
        list-style: none;
        text-align: center;
        padding: 0 2em;
        font-weight: 100;
        .name{
          margin-bottom: 0.5em;
          float: left;
          text-align: left;
          color: #000;
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
    &:hover{
      overflow-y: scroll;
    }
    .enroll-form{
      input{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 1em;
      }
      &.hidden{
        display: none;
      }
    }
  }
}

.node {
  cursor: pointer;
  fill: $black;
  stroke: none;
}

.line {
  //stroke: #a3a3a3;
  stroke-width: 1.5;
  stroke: $black;
  &.half-duplex{
    stroke: $red;
  }
  &.satelliteChannel{
    stroke-dasharray: 10;
  }
}

.nodeName{
  fill: $red;
  font-size: 1.4em;
  stroke: none;
  font-weight: 100;
}

.edgeName{
  fill: $black;
  font-size: 1.1em;
  stroke: none;
  font-weight: 100;
}

.tooltip{
  background: rgba(255, 255, 255, 0.68);
  border-radius: 4px;
  height: auto;
  overflow: hidden;
  ul{
    padding: 0;
    margin:0;
    li{
      cursor: pointer;
      margin: 0;
      list-style: none;
      padding: 1em 1em;
      text-align: center;
      font-size: 0.9em;
      border-bottom: 1px solid rgba(136, 136, 136, 0.74);
      &:hover{
        background: rgba(0,0,0,0.1);
      }
      &:last-child{
        border: none;
      }
    }
  }
}

//edit mode
.grid-col, .grid-row{
  stroke: rgba(196, 196, 196, 0.86);
  stroke-width: 0.2;
}

//Result popup
.result-popup{
  text-align: center;
  overflow-y: scroll;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  padding: 2em;
  width: 90%;
  height: 80%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color;
  border-radius: 5px;
  z-index: 9999;
  .close-popup{
    position: absolute;
    top: 0;
    right: 0;
    height: 3em;
    width: 3em;
    color: #000;
    cursor: pointer;
    text-align: center;
    display: table;
    i{
      display: table-cell;
      vertical-align: middle;
      font-size: 1.2em;
    }
  }
  .name{
    font-family: 'bebas_neuebold', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
  }

    .tg  {margin: 0 auto;border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}

  &.timeTablePopup{overflow-x: scroll}
}

.timeTable{
  font-size: 0.9em;
  height: auto;
  $elementWidth: 150px;
  //width: 6 * $elementWidth;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  white-space:nowrap;
  padding: 3em 0.5em 1em 0.5em;
  & > div{
    padding: 0 0.3em 0 0.05em;
    display: inline-block;
    vertical-align: top;
    //width: $elementWidth;
    //float: left;
    border-right: 2px dashed rgba(0,0,0,0.11);
    &:last-child{
      border-right: none;
    }
  }
}
.timeTableName{
  table:first-child{
    margin-bottom: 1em;
  }
  td{

    width: 40px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
}
/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}



/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

@keyframes fadeOut {
  0%    { opacity:1;}
  100%      { opacity:0;
  }
}

@keyframes fadeIn {
  from    { opacity:0; }
  to      { opacity:1; }
}



//
//.ng-enter           { animation: fadeIn 0.5s 0.5s both ease-in; z-index: 8888; }
//.ng-leave           { animation: fadeOut 0.5s both ease-in; z-index: 9999; }

//.ng-hide-add { animation: fadeOut  1s   ease; z-index: 8888; }
//.ng-hide-remove { animation: fadeIn 1s   ease; animation-delay: 2s;z-index: 9999; }

