@import url(../fonts/bebasneue.css);
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
  margin-right: 2px;
  width: 6px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/ }

html, body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.enroll-button {
  text-decoration: none;
  clear: both;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.2em 2em;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #000;
  font-family: 'bebas_neue_regularregular', sans-serif;
  -webkit-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
  -moz-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
  transition: color ease 0.25s, background ease 0.25s, top ease 0.25s; }
  .enroll-button:after {
    z-index: -1;
    display: block;
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 200%;
    height: 100%;
    -webkit-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
    -moz-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
    transition: color ease 0.25s, background ease 0.25s, top ease 0.25s; }
  .enroll-button:after:hover {
    -webkit-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
    -moz-transition: color ease 0.25s, background ease 0.25s, top ease 0.25s;
    transition: color ease 0.25s, background ease 0.25s, top ease 0.25s; }
  .enroll-button.fill-yellow {
    border: 2px solid #f1c40f;
    background: #fd0; }
  .enroll-button.fill-black {
    background: #000;
    border: 2px solid #000; }
  .enroll-button.color-yellow {
    color: #f1c40f; }
  .enroll-button.color-black {
    color: #000; }
  .enroll-button.color-white {
    color: #fff; }
  .enroll-button.border-yellow {
    border: 2px solid #f1c40f; }
  .enroll-button.border-black {
    border: 2px solid #000; }
  .enroll-button.black-hover:hover {
    border: 2px solid #000;
    color: #fff; }
    .enroll-button.black-hover:hover:after {
      top: 0;
      background: #000; }
  .enroll-button.yellow-hover:hover {
    border: 2px solid #f1c40f;
    color: #000; }
    .enroll-button.yellow-hover:hover:after {
      top: 0;
      background: #f1c40f; }

.enroll-form {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .enroll-form .input-wrap {
    position: relative; }
    .enroll-form .input-wrap label {
      position: absolute;
      top: 0.5em;
      left: 1.3em;
      color: #000;
      text-transform: uppercase;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .enroll-form .input-wrap:not(.is-empty) label, .enroll-form .input-wrap.has-focus label {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      top: -1.2em;
      font-size: 0.9em; }
    .enroll-form .input-wrap.has-error label {
      color: red;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      top: -1.2em;
      font-size: 0.9em; }
  .enroll-form input, .enroll-form textarea {
    display: block;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    padding: 0 0 0.1em 1em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    outline: none;
    width: 100%;
    max-width: 100%;
    color: #000;
    padding: 0.5em;
    color: #000;
    font-family: 'Open Sans', 'Helvetica', sans-serif; }
    .enroll-form input:not([type="radio"]), .enroll-form textarea:not([type="radio"]) {
      box-shadow: #f1c40f 0px 0px 0px 50px inset; }
  .enroll-form input[type="radio"] {
    margin-left: 1em;
    width: 10% !important;
    display: inline-block !important; }
  .enroll-form ::-webkit-input-placeholder {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000; }
  .enroll-form ::-moz-placeholder {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000; }
  .enroll-form :-moz-placeholder {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000; }
  .enroll-form :-ms-input-placeholder {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000; }
  .enroll-form label {
    float: left;
    padding-bottom: 0.5em;
    color: #fff; }

.canvas-wrapper {
  float: left;
  height: 100%;
  width: 75%; }

.menu-wrapper {
  float: left;
  height: 100%;
  width: 25%; }
  .menu-wrapper .menu {
    height: 100%;
    background: #f1c40f;
    color: #3c3c3c;
    padding: 1em 0.5em;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45); }
    .menu-wrapper .menu ul {
      padding: 0;
      margin: 0; }
      .menu-wrapper .menu ul li {
        margin-bottom: 1.5em;
        cursor: pointer;
        display: inline-block;
        list-style: none;
        text-align: center;
        padding: 0 2em;
        font-weight: 100; }
        .menu-wrapper .menu ul li .name {
          margin-bottom: 0.5em;
          float: left;
          text-align: left;
          color: #000;
          font-size: 1em;
          font-weight: 500; }
    .menu-wrapper .menu:hover {
      overflow-y: scroll; }
    .menu-wrapper .menu .enroll-form input {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1em; }
    .menu-wrapper .menu .enroll-form.hidden {
      display: none; }

.node {
  cursor: pointer;
  fill: #262626;
  stroke: none; }

.line {
  stroke-width: 1.5;
  stroke: #262626; }
  .line.half-duplex {
    stroke: #e74c3c; }
  .line.satelliteChannel {
    stroke-dasharray: 10; }

.nodeName {
  fill: #e74c3c;
  font-size: 1.4em;
  stroke: none;
  font-weight: 100; }

.edgeName {
  fill: #262626;
  font-size: 1.1em;
  stroke: none;
  font-weight: 100; }

.tooltip {
  background: rgba(255, 255, 255, 0.68);
  border-radius: 4px;
  height: auto;
  overflow: hidden; }
  .tooltip ul {
    padding: 0;
    margin: 0; }
    .tooltip ul li {
      cursor: pointer;
      margin: 0;
      list-style: none;
      padding: 1em 1em;
      text-align: center;
      font-size: 0.9em;
      border-bottom: 1px solid rgba(136, 136, 136, 0.74); }
      .tooltip ul li:hover {
        background: rgba(0, 0, 0, 0.1); }
      .tooltip ul li:last-child {
        border: none; }

.grid-col, .grid-row {
  stroke: rgba(196, 196, 196, 0.86);
  stroke-width: 0.2; }

.result-popup {
  text-align: center;
  overflow-y: scroll;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  padding: 2em;
  width: 90%;
  height: 80%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f1c40f;
  border-radius: 5px;
  z-index: 9999; }
  .result-popup .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    height: 3em;
    width: 3em;
    color: #000;
    cursor: pointer;
    text-align: center;
    display: table; }
    .result-popup .close-popup i {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.2em; }
  .result-popup .name {
    font-family: 'bebas_neuebold', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em; }
  .result-popup .tg {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0; }
  .result-popup .tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal; }
  .result-popup .tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal; }
  .result-popup .tg .tg-yw4l {
    vertical-align: top; }
  .result-popup.timeTablePopup {
    overflow-x: scroll; }

.timeTable {
  font-size: 0.9em;
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 3em 0.5em 1em 0.5em; }
  .timeTable > div {
    padding: 0 0.3em 0 0.05em;
    display: inline-block;
    vertical-align: top;
    border-right: 2px dashed rgba(0, 0, 0, 0.11); }
    .timeTable > div:last-child {
      border-right: none; }

.timeTableName table:first-child {
  margin-bottom: 1em; }
.timeTableName td {
  width: 40px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap; }

/* ANIMATIONS
============================================================================= */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
