<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/fontawesome.min.css">
    <!--<script type="application/javascript" src="http://d3js.org/d3.v3.min.js"></script>-->

    <link rel="stylesheet" href="css/index.css">

    <script src="node_modules/angular/angular.min.js"></script>

    <script src="node_modules/d3/d3.min.js"></script>
    <script src="node_modules/d3-tooltip/lib/d3-tooltip.js"></script>

    <script src="node_modules/angular-animate/angular-animate.min.js"></script>

    <!--<script src="node_modules/ng-draggable/ngDraggable.js"></script>-->

    <script src="js/dest/scripts.js"></script>

</head>
<body ng-controller="mainController" >

<div class="canvas-wrapper">
    <canvas-directive></canvas-directive>
</div>
<!--ng-show="resultPopupData.open"-->
<div class="result-popup"  ng-draggable ng-show="resultPopupData.open">
    <div class="close-popup" ng-click="resultPopupData.open = false"><i class="fa fa-times"></i></div>
    <div class="container" ng-show="resultPopupData.type == 'routesTable'">
       <div class="name">
           Таблиця маршрутизації для вузла №{{resultPopupData.nodeNumber}}
       </div>
        <table class="tg">
            <tr>
                <th>Номер вузла</th>
                <th>Довжина найкоротшого шляху</th>
                <th>Шлях</th>
                <th>Кiлькiсть вузлiв</th>
            </tr>
            <tr ng-repeat="item in resultPopupData.data track by $index">
                <th>{{$index}}</th>
                <th>{{item}}</th>
                <th>{{resultPopupData.routes[$index].route | printRoute}}</th>
                <th>{{resultPopupData.routes[$index].nodesCount || "-"}}</th>
            </tr>
        </table>
    </div>
    <div class="container" ng-show="resultPopupData.type == 'changeLinksTypeTable'">
        <div class="name">
            Таблиця каналiв мережi
        </div>
        <table class="tg">
            <tr>
                <th>№</th>
                <th>Джерело</th>
                <th>Приймач</th>
                <th>Вага</th>
                <th>Duplex</th>
                <th>Half-duplex</th>
                <th>Супутниковый канал</th>
            </tr>
            <tr ng-repeat="item in resultPopupData.data.links track by $index">
                <th>{{$index}}</th>
                <th>{{item.source.index}}</th>
                <th>{{item.target.index}}</th>
                <th>{{item.weight | calculateLinkWeight: item.type:item.satelliteChannel }}</th>
                <th><input type="radio"  name="linkType{{$index}}" ng-model="item.type"  value="duplex" /></th>
                <th><input type="radio"   name="linkType{{$index}}" ng-model="item.type" value="half-duplex"/></th>
                <th><input type="checkbox"   name="linkType" ng-model="item.satelliteChannel" ng-value="item.satelliteChannel"/></th>
            </tr>
        </table>
        <br>
        <a ng-click="resultPopupData.save()" href="" class="enroll-button border-black black-hover">зберегти</a>
    </div>
    <div class="container" ng-show="resultPopupData.type == 'dataSendingEmulationTable'">
        <div class="name">
            Таблиця замiрiв часу та кiлькостi пакетiв при передачi повiдомлення з вузла №{{resultPopupData.nodeNumber}}
        </div>
        <div>Максимальна довжина повiдомлення: {{resultPopupData.maxPackageLength}}</div>
        <div>Довжина повiдомлення: {{resultPopupData.messageLength}}</div>

        <div class="timeTable">
            <div  ng-repeat="item in resultPopupData.data track by $index" ng-if="$index">
                <div class="title">
                   <div>
                       {{item.name}}
                   </div>
                    <div>
                        Довж. пакету - {{item.packageLength}}
                    </div>
                </div>
                <div class="timeTableName">
                    <table class="">
                        <tr>
                            <td>ID</td>
                            <td>Час</td>
                            <td>Iнф.</td>
                            <td>Служ.</td>
                        </tr>
                    </table>
                    <table ng-repeat="lal in item.children">
                        <tr>
                            <td>
                                {{lal.nodeIndex}}
                            </td>
                            <td>
                                {{lal.value}}
                            </td>
                            <td>
                                {{lal.packages.information}}
                            </td>
                            <td>
                                {{lal.packages.service}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>

<div class="menu-wrapper">
    <div class="menu">
        <ul class="enroll-form" ng-hide="showEditMenu">
            <li>
                <div class="name">
                   Запустити мережу:
                </div>
                <div style="clear: left;">
                    З файлу <input type="radio"  ng-model="graphToRender" name="graphToRender"   value="1" />
                </div>
                <div>
                    Random <input type="radio"   ng-model="graphToRender" name="graphToRender"  value="2" />
                </div>
                <a ng-click="renderGraph()" href="" class="enroll-button border-black black-hover">Запуск</a>
                <a ng-click="saveTemporaryGraphToFile()" href="" class="enroll-button border-black black-hover">Зберегти</a>
            </li>
            <li>
                <span class="name">Редагування мережi</span>
                <a ng-click="startEditingMode()" href="" class="enroll-button border-black black-hover">Увiмкнути</a>
            </li>
            <li>
                <span class="name">Маршрутизацiя</span>
                <input ng-model="searchParamsData.nodeToFindShortestPathsFor" type="text" placeholder="Iндекс вузла">
                <a  href="" ng-click="searchClosestPath()" class="enroll-button border-black black-hover">Пошук</a>
            </li>
            <li>
                <span class="name">Змiна типу з'єднання (duplex чи half-duplex)</span>
                <a  href="" ng-click="changeLinksType()" class="enroll-button border-black black-hover">Вiдкрити</a>
            </li>
            <li>
                <span class="name">Таблиця часу вiдправки повiдомлення</span>
                <input ng-model="searchParamsData.nodeToGetDataSendingEmulationTableFor" type="text" placeholder="Iндекс вузла">
                <input ng-model="searchParamsData.messageLength" type="text" placeholder="Довжина повiдомлення">
                <a  href="" ng-click="getDataSendingEmulationTable()" class="enroll-button border-black black-hover">Вiдкрити</a>
            </li>
        </ul>
        <ul class="enroll-form" ng-show="showEditMenu">
            <li>
                <span class="name">Додавання вузла</span>
                <!--<label for="addNode">Добавить узел</label>-->
                <a ng-click="addNode()" href="" class="enroll-button border-black black-hover">Додати вузол</a>
                <!--<input name="addNode" id="addNode" type="text" placeholder="0">-->
            </li>
            <li >
                <span class="name">Видалення вузла</span>
                <input ng-model="editorData.nodeToRemove" type="text" placeholder="Iндекс">
                <a ng-click="removeNode()" href="" class="enroll-button border-black black-hover">Видалити</a>
            </li>
            <li >
                <span class="name">Додавання каналу</span>
                <input ng-model="editorData.link.source" type="text" placeholder="Джерело">
                <input ng-model="editorData.link.target" type="text" placeholder="Приймач">
                <input ng-model="editorData.link.weight" type="text" placeholder="Вага(Опцiонально)">
                <a ng-click="addLink()" href="" class="enroll-button border-black black-hover">Додати канал</a>
            </li>
            <li >
                <span class="name">Видалення ребра</span>
                <input ng-model="editorData.linkToRemove.source" type="text" placeholder="Джерело">
                <input ng-model="editorData.linkToRemove.target" type="text" placeholder="Приймач">
                <a ng-click="removeLink()" href="" class="enroll-button border-black black-hover">Видалити</a>
            </li>
            <li >
                <span class="name">Видалення всiх вузлiв</span>
                <a ng-click="removeAllNodes()" href="" class="enroll-button border-black black-hover">Видалити</a>
            </li>
            <li >
                <span class="name">Видалення всiх каналiв</span>
                <a ng-click="removeAllLinks()" href="" class="enroll-button border-black black-hover">Видалити</a>
            </li>
            <li>
                <a ng-click="startEditingMode()" href="" class="enroll-button border-black black-hover">Зберегти</a>
                <a ng-click="showEditMenu = false" href="" class="enroll-button border-black black-hover">Назад</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
